<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    
    <style>
        .footer{

            position: relative;
            bottom: 0;
            width: 100%;
            height: 60px;
            line-height: 60px;

        }
    </style>

    <center>
        <footer class="footer bg-dark">
            <div class="conteiner">
                <span class="text-light">@Todos los derechos Reservados por Nizarindany Luna</span>
            </div>
        </footer>
    </center>

</body>
</html>
