<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Multiplicar</title>
</head>
<body>
    <header>
        <%-include('partials/header.ejs') %>

        <%-include('partials/nav.ejs') %>
        <hr>
        <center>
            <h2>Tabla de Multiplicar</h2>
        </center>
        <hr>
    </header>

    <section>
        <center>
        

            <form action="/tabla" method="post">
                <label for="Tabla">Tabla</label>
                <input type="number" id="numero" name="numero"  value= <%=numero%> required> <br><br>
                <button type="submit" class="btn btn-secondary">Enviar Informacion</button>
                <button type="button" id="btnLimpiar" class="btn btn-secondary">Limpiar</button>

                    <div id="borrar" class="mt-5 mb-5">
                        <%
                            let res =0;
                            if(numero!=null){
                                for(con=1; con <=10; ++con){
                                    res = numero*con;
                                    %>
                                    <h3><%=numero%> * <%=con%> = <%=res%></h3>
                                    <%
                                }
                            }
                        %>
                    </div>
                
            </form>
       
        </center>
    </section>

    <script>

        function Limpiar(){
            let numero = document.getElementById('numero');
            let borrar = document.getElementById("borrar");

            if(numero.value != '' && borrar != ''){
                
                numero.value ='';
                borrar.innerHTML='';

            }else{

                alert('Verifique que el campo tenga algo que limpiar...');

            }

        }

        document.getElementById("btnLimpiar").addEventListener("click",Limpiar);
    </script>

    <%-include('partials/footer.ejs') %>
</body>
</html>
